@using PagedList;
@using WINConnect.Libs.Extensions;
@using WINConnect.Models;
@using WINConnect.Models.Extensions;

@model IPagedList<Agent>
@{
    ViewBag.Title = "Agent";
}
@Html.Partial("_SearchForm")

<table class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th class="col-md-6" data-sort="agentname">Agent Name</th>
            <th class="col-md-1">Active</th>
            <th class="col-md-2" data-sort="createdon">Created</th>
            <th class="col-md-2">Latest Login</th>
            <th class="col-md-1">Users</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Agent item in Model)
        {
            Contact latestLoginUser = null;
            if (item.Contacts != null)
            {
                item.Contacts.FirstOrDefault(x => x.Logins != null);
            }

            //ICollection<Contact> contacts = item.Contacts.OrderByDescending(x => x.Logins.Any(y => y.LoggedOn != null)).ToList();
            //Contact firstContact = contacts.FirstOrDefault();
            <tr>
                <td>
                    <ul class="list-unstyled">
                        <li>@Html.ActionLink(item.AgentName, "Edit", new { id = item.AgentId })</li>
                        <li>@item.CityCode, @item.Country.Name</li>
                    </ul>
                </td>
                <td>
                    @Html.Raw(item.IsActivated.ToIcon())
                </td>
                <td>
                    <ul class="small list-unstyled">
                        <li>@item.CreatedOn</li>
                        <li>@item.CreatedOn.GetTimeSpan()</li>
                    </ul>
                </td>
                <td>
                    @if (latestLoginUser != null)
                    {
                        Contact_Login contactLogin = latestLoginUser.Logins.OrderByDescending(x => x.LoggedOn).FirstOrDefault();
                        <ul class="small list-unstyled">
                            <li>@latestLoginUser.Username</li>
                            <li>@contactLogin.LoggedOn.GetTimeSpan()</li>
                        </ul>
                    }
                </td>
                <td>
                    <span class="badge">@item.Contacts.Count</span>
                </td>
            </tr>
        }
    </tbody>
</table>
